.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
}

.car_container {
  display: flex;
  margin-top: 84px;
}

.img {
  border-radius: 19px;
  min-width: 640px;
  max-height: 512px;
  margin-bottom: 40px;
}

.car_inf {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.car_address {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.car_mil {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 16px;
}

.address_cont {
  display: flex;
  gap: 16px;
}

.car_price {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.car_descr {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 74px;
}

.rental_title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.cond_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 110px;
}

.car_conditions {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-left: 8px;
}

.car_cond {
  display: flex;
  flex-direction: column;
}

.car_specifications {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.car_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 110px;
}

.car_item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.acces_title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.accessories {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-left: 8px;
}

.container_accessories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;
}

.condition_cont {
  display: flex;
  align-items: center;
}

.acces_cont {
  display: flex;
  align-items: center;
}

.container_form {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
