.container {
  position: fixed;
  background-image: url("/public/car.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.container_catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 580px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.paragraph {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  height: auto;
  background-color: #3470ff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  background-color: #0b44cd;
}
